
<div class="containerCustom" style="background-color: #a4629e;"> 
	<div class="row"> 
		<div class="col-md-12">
			<h1 style="color: #fff; text-align: center; font-size: 60px;">Qual é o seu perfil de Consumo?</h1>
		</div>
	</div>
	<div class="row"> 
		<div class="col-md-12">
			<h4 style="color: #fff; text-align: center;">Responda as perguntas abaixo para chegar ao seu mapa astral. É simples, facil e muito rápido conseguir descontos!</h4>
		</div>
	</div>

	<div class="row" style="margin-top:20px; margin-bottom:10px">
		<question-hall ng-if="questionHall"></question-hall>	
	</div>
</div>